{{!
    @template mod_questionnaire/response_starrating
    
    Star Rating response display template - Multiple rows support
}}
<div class="response-star-rating">
    {{#rows}}
    <div class="star-rating-response-row">
        <div class="star-rating-response-label">
            {{{content}}}
        </div>
        <div class="star-rating-response-stars">
            {{#stars}}
            <i class="fa fa-star{{^filled}}-o{{/filled}} {{#filled}}star-filled{{/filled}}"></i>
            {{/stars}}
            <span class="star-rating-response-value">({{value}}/{{maxstars}})</span>
        </div>
    </div>
    {{/rows}}
</div>
